<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.volleygamerecord.app" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.volleygamerecord.app.LogIn"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.volleygamerecord.app.Start"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.volleygamerecord.app.Easyrecord"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.volleygamerecord.app.Count1"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.volleygamerecord.app.Count2"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.volleygamerecord.app.Team1"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.volleygamerecord.app.Team2"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.volleygamerecord.app.Record3"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.volleygamerecord.app.GameStart1"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.volleygamerecord.app.Count1_MyGame"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.volleygamerecord.app.GameStart2"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.volleygamerecord.app.Record1"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.volleygamerecord.app.Record2"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.volleygamerecord.app.MyGame"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.volleygamerecord.app.NoInternet"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.volleygamerecord.app.Search"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.volleygamerecord.app.Loginsuccess"
            android:label="@string/app_name" >
        </activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
                   android:value="@string/app_id" />
        <activity  android:name="com.facebook.LoginActivity"/>


    </application>


</manifest>
